## ======================
## Visual Studio / .NET
## ======================

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono/Xamarin Studio user prefs
*.userprefs

# Build output
bin/
obj/
[Dd]ebug*/
[Rr]elease*/

# Logs
*.log
[Ll]og*/
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# Visual Studio cache/options directory
.vs/
*.cache
!.cache/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test result files
[Tt]est[Rr]esult*/
TestResult.xml
nunit-*.xml

# EF Core / Migrations
Migrations/

# .NET Core / SDK artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Others / OS
.DS_Store
Thumbs.db
*.pfx
*.publishsettings
~$*
*~