@model IEnumerable<To_Do.Models.UserTask>

<div>
    <h2>Completed Tasks</h2>
    <table>
        <tr id="Tasks">
            <th>Task Name</th>
            <th>Created Date</th>
            <th>Description</th>
            <th>Completed Date</th>
        </tr>
        @foreach (var item in Model)
        {
                <tr id="Tasks">
                <td>@item.Title </td> 
                <td>@item.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Description</td>
                <td>@item.CompletedDate.ToString("yyyy-MM-dd")</td>
            </tr>
            <style>
                #Tasks{
                    list-style: none;
                    margin: 10;
                    padding: 20;
                    display: table-row;
                    text-align: center;
                    justify-content: space-around;
                }
            </style>
        }
    </table>
</div>